{% extends 'base.html' %}

{% block titulo %}
    Nuevo Producto
{% endblock %}

{% block css %}
<style>
    .formulario {
        background-color: brown;
    }
</style>

{% endblock %}


{% block contenido %}


<section class="">
            <h2>Crear Producto</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>
</section>

    
{% endblock %}  


{% block js %}


{% endblock %}
